<app-header [shortName]="this.profile?.shortName" [mainActivity]="this.profile?.mainActivity"></app-header>

<app-about [about]="this.profile?.about" [image]="this.profile?.image"></app-about>

<app-skill [skills]="skills"></app-skill>

<app-work-done [workDone]="workDone"></app-work-done>


<section  id="about-site" class="container-fluid lightGreyBackground">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-4">About this site</h2>
        <p class="text-justify">
          This site was made to work as an online portfolio for myself. I decided not to use any pre-made tool or online service to
          do this because I wanted to show my software development skills trhough this website. 
          <br><br>
          Like almost all software products that I worked on 
          were company owned, I had little work to show in details. No source codes, database models, etc. 
          <br><br>
          So, to portrait a little of my
          work experience and skills I built a solution composed of a Web front-end, a REST API for the back-end part and a mobile application. 
          The front-end was build using Angular, the back-end was build using java and the mobile app was build using native Android. 
          <br><br>
          The main intent of this entire solution is to demonstrate my abilities, putting together some of the technologies I've been working with. 
          Technological choices were not made considering the best architectural model, but the greater number of technical skills used.
        </p>
      </div>
    </div>
  </div>
</section>


<section  id="feedbacks" class="container-fluid darkerPurpleBackground text-white">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-4">Feedbacks</h2>
      </div>
    </div>
    <div class="row">
      <div id="feedbacksContainer" class="col-lg-6 col-md-6 col-sm-12 p-4 rounded alphaWhiteBackground">
        <div class="mb-4 text-dark">
          <p class="text-justify"><strong>"You portfolio is very nice. Great set of skills."</strong></p>
          <p class="text-right">Some author - Some company</p>
        </div>
        <div class="mb-4 text-dark">
          <p class="text-justify"><strong>"Congratulations Wilton. Good luck finding your next job."</strong></p>
          <p class="text-right">Wilton - My company</p>
        </div>
        <div class="mb-4 text-dark">
          <p class="text-justify"><strong>"Nice employee. Always committed and responsible."</strong></p>
          <p class="text-right">Boss - Company ABC</p>
        </div>
        <button type="button" class="btn btn-outline-dark">Show more</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h4>Leave you feedback</h4>
        <form>
          <div class="form-group">
            <label labelFor="author">Author</label>
            <input id="author" type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label labelFor="company">Company</label>
            <input id="company" type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label labelFor="feedback">Feedback</label>
            <textarea id="feedback" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send feedback</button>
        </form>  
      </div>
    </div>
  </div>
</section>

<section  id="contact" class="container-fluid lightGreyBackground">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-4">Contact me</h2>
      </div>
    </div>


    <form>
      <div class="form-row">
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
          <label labelFor="name">Name</label>
          <input id="name" type="text" class="form-control" >
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
          <label labelFor="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input id="email" type="email" class="form-control" >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label labelFor="subject">Subject</label>
        <input id="subject" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label labelFor="message">Message</label>
        <textarea id="message" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send message</button>          
    </form>
  </div>
</section>

<footer class="bg-dark">
  <div class="text-white">
    <address class="mb-0">
      <strong>Wilton Gomes da Costa Júnior</strong><br>
      E-mail: wiltongomesjr@gmail.com
    </address>
  </div>
</footer>

<router-outlet></router-outlet>
