#Angular/IDE files/folders to ignore (Front-end)

# compiled output
/portfolio-front/dist
/portfolio-front/tmp
/portfolio-front/out-tsc

# dependencies
/portfolio-front/node_modules

# IDEs and editors
/portfolio-front/.idea
.c9/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/portfolio-front/.sass-cache
/portfolio-front/connect.lock
/portfolio-front/coverage
/portfolio-front/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/portfolio-front/typings

#Angular generated .gitignore
/portfolio-front/.gitignore

#End of Angular files/folders to ignore (Front-end)

#Java WebAPI/Eclipse files/folders to ignore (Back-end)
/portfolio-backend/build/
/portfolio-backend/bin/
/portfolio-backend/target/
/portfolio-backend/libs/
/portfolio-backend/tmp/

.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#End of Java WebAPI/Eclipse files/folders to ignore (Back-end)

### System Files
.DS_Store
Thumbs.db

### Other files used in the project
/database
/resources

