<section id="work" class="container-fluid">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-12">
          <h2 class="text-left pb-4 text-white">Work experience</h2>
        </div>
      </div>
      <div *ngFor="let work of workDone" class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" [src]="work.image">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>{{ work.name }}</h4>
          <p class="text-justify">{{ work.description }}</p>
        </div>
      </div>
<!--       <div class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" src="/assets/img/cashier.png">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>Integrated Sales System</h4>
          <p class="text-justify">I worked several months creating new features and maintaning an integrated sales system for a software company where I worked.
              The software was the major product of the company at the time. Capable of managing the main
              areas of a business enviroment, such as sales, purchases, products, customer, suppliers, logistics, stock, finance and accounting. Iniatially written 
              in Delphi using Firebird as database, was improved after gaining new asp.net web modules written in visual basic using Sql Server as database. I worked
              in both desktop and web portions of the app.    
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" src="/assets/img/customer-service.png">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>Custormer Service App</h4>
          <p class="text-justify">I took part in the development team of a desktop application to manage customer service enviroments. The app was capable
            of controlling client queues in any kind of business, working with tickets and a panel to call customers for attendance.  
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" src="/assets/img/transportation.png">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>Transportation Software</h4>
          <p class="text-justify">A transportation software that helped companies to organize, manage and control shipment related operations,
            like loading trucks, separating packages by destination and generating billing information.   
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" src="/assets/img/car-shop.png">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>Car Store App</h4>
          <p class="text-justify">An application designed to car stores. Capable of managing the entire process involved in a car sale operation, from the aquisition
            through the vehicle maintainance to the sale itself. Featuring also finance, clients, suppliers and sales person control modules.     
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" src="/assets/img/sales-force.png">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>Sales Force Mobile App</h4>
          <p class="text-justify">Work on a sales force mobile app designed to help sales person on the field to register sales, see products prices and stock and note 
            customers demands. The app was synchronized through a webservice back-end and was part of a major integrated business software.     
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" src="/assets/img/businesses-network.png">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>Companies Network Web Application</h4>
          <p class="text-justify">I participed in the development of a web application for companies networks. The main goal of
            this software was to help companies networks to manage their purchases from suppliers. Putting all the individual company orders
            together for the suppliers visualization, making price negociation easier and faster.   
          </p>
        </div>
      </div> -->
    </div>
  </section>


  
  