<section id="work" class="container-fluid">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-12">
          <h2 class="text-left pb-4 text-white">Work experience</h2>
        </div>
      </div>
      <div *ngFor="let work of workDone" class="row mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12 m-auto centerAlignedContent">
          <img class="img-fluid" [src]="work.image">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 m-auto text-white">
          <h4>{{ work.name }}</h4>
          <p class="text-justify">{{ work.description }}</p>
        </div>
      </div>
    </div>
  </section>


  
  