<section  id="feedbacks" class="container-fluid darkerPurpleBackground text-white">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-4">Feedbacks</h2>
      </div>
    </div>
    <div class="row">
      <div id="feedbacksContainer" class="col-lg-6 col-md-6 col-sm-12 p-4 rounded alphaWhiteBackground">
        <div class="mb-4 text-dark">
          <p class="text-justify"><strong>"You portfolio is very nice. Great set of skills."</strong></p>
          <p class="text-right">Some author - Some company</p>
        </div>
        <div class="mb-4 text-dark">
          <p class="text-justify"><strong>"Congratulations Wilton. Good luck finding your next job."</strong></p>
          <p class="text-right">Wilton - My company</p>
        </div>
        <div class="mb-4 text-dark">
          <p class="text-justify"><strong>"Nice employee. Always committed and responsible."</strong></p>
          <p class="text-right">Boss - Company ABC</p>
        </div>
        <button type="button" class="btn btn-outline-dark">Show more</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h4>Leave you feedback</h4>
        <form #form="ngForm" [formGroup]="feedbackForm" (submit)="addFeedback()">
          <div class="form-group">
            <label labelFor="author">Author</label>
            <input formControlName="author" id="author" type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label labelFor="company">Company</label>
            <input formControlName="company" id="company" type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label labelFor="feedback">Feedback</label>
            <textarea formControlName="text" id="feedback" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send feedback</button>
        </form>  
      </div>
    </div>
  </div>
</section>