<app-header [shortName]="this.profile?.shortName" [mainActivity]="this.profile?.mainActivity"></app-header>

<!-- Alert Component for application messages -->
<app-alert></app-alert>

<app-about [about]="this.profile?.about" [image]="this.profile?.image"></app-about>

<app-skill [skills]="skills"></app-skill>

<app-work-done [workDone]="workDone"></app-work-done>


<section  id="about-site" class="container-fluid lightGreyBackground">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-4">About this site</h2>
        <p class="text-justify">
          This site was made to work as an online portfolio for myself. I decided not to use any pre-made tool or online service to
          do this because I wanted to show my software development skills trhough this website. 
          <br><br>
          Like almost all software products that I worked on 
          were company owned, I had little work to show in details. No source codes, database models, etc. 
          <br><br>
          So, to portrait a little of my
          work experience and skills I built a solution composed of a Web front-end, a REST API for the back-end part and a mobile application with two versions, one for Android and another for IOS devices. 
          The front-end was built using Angular, the back-end was built using java and the two versions of the mobile app were built using native Android java code and native IOS swift code. 
          <br><br>
          The main intent of this entire solution is to demonstrate my abilities, putting together some of the technologies I've been working with. 
          The Technological choices were not made considering the best architectural model, but the greater number of technical skills used.
        </p>
      </div>
    </div>
  </div>
</section>

<app-feedbacks [profile]="this.profile"></app-feedbacks>

<app-contact [profile]="this.profile"></app-contact>

<footer class="bg-dark">
  <div class="row">
    <div class="text-white col-sm-12 col-md-12 col-lg-6 mb-3">
      <address class="mb-0">
        <strong>{{ this.profile?.name }}</strong><br>
        E-mail: <a href="mailto:{{ this.profile?.email }}">{{ this.profile?.email }}</a>
      </address>
    </div>
    <div class="text-white col-sm-12 col-md-12 col-lg-6 text-left smallFont">
        <h6 class="mb-3">Content licensing info:</h6>
        <p>Part of this site icons is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">
          Creative Commons Attribution-share Alike 3.0 license.</a> 
          Author: <a href="https://www.iconfinder.com/Vecteezy">Eezy</a></p>
        <p>HTML 5 and Android Robot logos are licensed under a <a href="https://creativecommons.org/licenses/by/3.0/">
          Creative Commons Attribution 3.0 license.</a> 
          Authors: <a href="https://www.w3.org/html/logo/">W3C</a> and 
          <a href="https://developer.android.com/distribute/marketing-tools/brand-guidelines?hl=pt-br">Google</a></p>
        <p>Angular logo is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">
          Creative Commons Attribution 4.0 license.</a> 
          Author: <a href="https://angular.io/presskit">Google</a></p>
        <p>Other trademark logos such as Java, Postgresql, Mysql, Linkedin and Github are being used in conformity with the owners terms.</p>
    </div>
  </div>
</footer>