/* You can add global styles to this file, and also import other style files */

.roundedImg {
    border-radius: 50%;
}

.centerAlignedContent {
    text-align: center;
}

section {
    padding-top: 10px;
}